h1{
	color:red;
	}

.main{
	font-size:150px
}


#maindiv {
  width: 1219px;
  height: 400px;
  background: red;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}
div.myDIV {
  text-align: center;
}
